// STICKY FOOTER
// .site {
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	min-height: 100vh;
// 	-webkit-box-orient: vertical;
// 	-webkit-box-direction: normal;
// 	    -ms-flex-direction: column;
// 	        flex-direction: column;
// }

// .site-content {
// 	-webkit-box-flex: 1;
// 	    -ms-flex: 1;
// 	        flex: 1;
// }

*,:after,:before {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.constrain {
	display: block;
	padding: 0 10px;
	max-width: 1200px;
	// min-width: 320px;
	margin: 0 auto;

	&.sm {
		max-width: 960px;
	}

	&.md {
		max-width: 1024px;
	}
}

.flexxed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.p30 {
	padding: 15px 0;
}

.p45 {
	padding: 15px 0;
}

.p60 {
	padding: 20px 0;
}

.white-bg,
a.white-bg {
	background-color: $lightest;
}

.ltgray-bg,
a.ltgray-bg {
	background-color: $ltgray;
}

.red-bg,
a.red-bg {
	background-color: $accent;
	color: $lightest;

	&:visited {
		color: $lightest;
	}
}

.mdgray-bg {
	background-color: #555;
	color: $lightest;
}

.darkest-bg {
	background-color: #252525;
	color: $lightest;
}

a.callout-btn {
	background-color: $accent;
    color: $lightest;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 30px auto 0 auto;
    padding: 5px 25px 5px 10px;
    position: relative;
    text-transform: uppercase;
	
	&::after {
		color: #fff;
		content: '\f105';
		display: block;
		font-family: 'FontAwesome',dingbats,Helvetica,sans-serif;
		position: absolute;
		top: 5px;
		right: 10px;
	}
}

// SOCIAL MEDIA
.social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

a.social-icon {
	background-color: $accent;
	color: $lightest;
	font-size: 20px;
	line-height: 45px;
	width: 45px;

	&:visited {
		color: $lightest;
	}
}

.page-title {
	border-bottom: 2px solid $accent;
	color: $accent;
	margin: 0 0 25px 0;
}

// MODULES

// Quick Links
a.quick-link {
	background-color: $ltgray;
	@include mshadow();
	height: 300px;
	margin: 0 0 20px 0;
	position: relative;
	@include transmed();

	h2 {
		color: $accent;
		font-size: 36px;
		font-weight: 700;
		line-height: 1em;
		left: 30px;
		position: absolute;
		text-transform: uppercase;
		top: 50%;
		transform: translateY( -50% );
		@include transmed();
		width: 190px;

		&::before {
			border-top: 10px solid $accent;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			top: -35px;
			@include transmed();
			width: 85px;
		}
	}

	.quick-link-icon {

		svg {
			bottom: 25px;
			fill: $accent;
			height: 75px;
			position: absolute;
			right: 25px;
			@include transmed();
			width: 75px;
		}
	}

	&:hover {
		background-color: $accent;
		@include transmed();

		h2 {
			color: $lightest;
			@include transmed();

			&::before {
				border-top: 10px solid $lightest;
				@include transmed();
			}
		}

		.quick-link-icon {
			
			svg {
				fill: $lightest;
				@include transmed();
			}
		}
	}
}

// Tabbed Boasts
.boasts {
	background-color: $ltgray;
}

// About Tabs
.about-tabs {
	background-color: $ltgray;
}

.about-tabs-intro {
	padding: 0 0 15px 0;
}

.tab-links {

	a.link {
		background-color: $dkgray;
		background-image: url( 'http://localhost/delianew/wp-content/themes/del/img/white_hourglass.png' );
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 35%;
		margin: 0 0 15px 0;
		padding: 40px 20px 20px;
		text-transform: uppercase;

		&.active {
			background-color: $accent;
		}

		&:last-of-type {
			margin: 0;
		}

		h3 {
			color: $lightest;
			font-size: 23px;
			font-weight: 700;
			margin: 0;
			position: relative;

			&::before {
				border-top: 4px solid $lightest;
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				width: 60px;
			}
		}
	}
}

.tab-content-block {
	display: none;

	&.active {
		display: block;
		padding: 20px 0 0;
	}
}

// Brand Assessment Form Module
.brand-assessment-form {
	
	&.red-bg {

		h3 {
			color: $lightest;
			font-size: 23px;
			margin: 0 0 30px 0;
			text-transform: uppercase;

			&::after {
				border-bottom: 2px solid $lightest;
				bottom: -13px;
				content: '';
				display: block;
				position: relative;
				width: 50%;
			}
		}
	}

	.ba-intro {
		margin: 0 0 15px 0;
	}
}

// Brand Matters Form Module
.brand-matters-form {
	background-color: $darkest;
	color: $lightest;

	h2, h3, h4 {
		color: $lightest;
	}
}

// Brand Assessment Form Module
.brand-assessment-form {
	background-color: $accent;
	color: $lightest;

	h2, h3, h3 {
		color: $lightest;
	}
}

// AFFILIATE LOGOS
.affiliate-logos {

	.flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.affiliate-block {
		width: 45%;
	}
}

// CLIENT SAMPLES
a.dark-mask {

	img {
		display: block;
	}
}

// BLOG SAMPLES
.blog-samples {

	h2 {
		text-align: center;
	}
}

.blog-subtitle {
	margin: 0 0 30px 0;
	text-align: center;
}

.sample-post {
    font-size: 16px;
	margin: 0 0 20px;
	
	.meta-title {
		color: #939598;
		font-size: 14px;
		font-weight: 500;
		padding: 0 0 5px;
		text-transform: uppercase;
	}

	img {
		margin: 0 0 10px;
	}
	
	h3 {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.25em;
		margin: 0 0 20px;
		text-transform: uppercase;

		&::after {
			border-bottom: 4px solid #b00c2a;
			bottom: -9px;
			content: '';
			display: block;
			position: relative;
			width: 33%;
		}
	}
}

// PAGINATION
.pagination {
	font-size: 15px;
    border-top: 1px solid #000;
	padding: 20px 0;
	text-align: center;
}

.pagination span.page-numbers {
    background: #a1a1a1;
}

.pagination a.page-numbers {
    background: #000;
    color: #eee;
}

.pagination .page-numbers {
    padding: .5em .75em;
    display: inline-block;
}