/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/


// ALL PAGE STYLES
.page-banner {
	background-position: center center;
	background-size: cover;
	height: 75px;
}

.page-intro {
	margin: 0 0 25px 0;
}

// BLS TEMPLATE
.page-banner {

	&.bls {
		height: 200px;
	}
}

.bls-intro-content {
	font-size: 20px;
}

.proof-blocks {
	background-color: $darkest;
	color: #4dbff7;
	text-align: center;
}

.proof-block {
    margin: 0 0 30px;
	text-align: center;
	
	.top-text {
		color: #fff;
		font-size: 65px;
		font-weight: 600;
	}

	.bottom-text {
		font-size: 25px;
		font-weight: 500;
		line-height: 1.25em;
	}
}

.bls-slider {
	color: $lightest;
	font-size: 24px;
	text-align: center;

	.slick-prev,
	.slick-next {
		display: none !important;
	}

	img {
		width: 22.5%;
	}

	.slick-initialized {

		.slick-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 255px;
		}
	}
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
}

.slide-quote {
	font-style: italic;
}

.bls-secondary-content {

	img {
		margin: 25px auto;
		width: 230px;
	}
}

// CAREER PAGE
.core-intro {
	margin: 0 0 20px;
}

.core-value {
    background-position: center center;
    background-size: cover;
    padding: 20px;
	margin: 0 0 20px;
	
	h3 {
		border-bottom: 2px solid #fff;
		color: #fff;
		font-size: 22px;
		padding: 0 0 10px;
	}
	
	p {
		color: $lightest;
	}
}

.apply {
	text-align: center;

	.btn {
		display: block;
		font-size: 16px;
		margin: 20px auto 0 auto;
		max-width: 530px;
		padding: 13px;
		text-align: center;
	}
}

// CONTACT PAGE
.sidebar-content {
	margin: 0 0 30px 0;
}

// DEFAULT PAGES
.dp-additional-sections {

	h2 {
		margin: 0 0 20px 0;
		text-align: center;
	}
}

.as-content-block {
	margin: 0 0 15px 0;

	&:last-of-type {
		margin: 0;
	}
}

// HOME PAGE
.home-modal {
	background-color: rgba( 0, 0, 0, 0.5 );
	display: none;
	height: 100%;
	position: fixed;
	left: 0;
	overflow: auto;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.modal-video .close {
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	position: absolute;
	right: 10px;
	top: 5px;
}

.modal-video iframe {
	left: 0;
	margin: 0 auto;
	max-height: 170px;
	max-width: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY( -50% );
}

.home-slider {

	.slide video {
		width: 100%;
	}

	.slick-prev,
	.slick-next {
		display: none !important;
		z-index: 999;
	}

	.slick-slider {
		margin: 0;
		width: 100%;

		img {
			border: 0;
		}
	}
	
	.slick-slide {
		position: relative;

		.constrain {
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	a {
		padding: 0 8px 0 5px;
		text-shadow: 0 !important;

		span:after {
			content: '>';
			position: relative;
			right: -5px;
			top: -2px;
		}
	}
}

.slide-text {
	text-align: center;

	.text {
		color: #fff;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		text-shadow: 1px 1px 3px #000000;
		top: 20px;
		z-index: 999;
	}

	p {
		font-family: 'Raleway', sans-serif;
	}

	.hvy-text {
		font-weight: 900;
	}

	.lt-text {
		font-weight: 500;
	}
}

.red-diamond {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 15px;
	width: 135px;
	z-index: 1;
}

.page-template-homepage {

	.boasts {
		background-color: transparent;
	}
}

.boast-block {
	color: #fff;
	font-size: 16px;
	padding: 30px;
	width: 100%;
}

.boast-block h2 {
	color: $lightest;
	font-size: 22px;
	line-height: 1.25em;
	margin: 0 0 30px 0 !important;
	text-transform: uppercase;
}

.boast-block h2:after {
	border-bottom: 2px solid #fff;
	bottom: -13px;
	content: '';
	display: block;
	position: relative;
	width: 50%;
}

.boast-text {
	margin: 0 0 20px 0;
}

.boast-links a {
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.boast-links a:last-of-type {
	margin: 0;
}

.boast-links a span {
	position: relative;
}

.boast-links a span:after {
	content: '>';
	position: relative;
	right: -5px;
	top: 0;
}

a.red-bg {
	padding: 10px;
}

a.red-brdr {
	border: 2px solid #c41230;
	padding: 10px;
}

a.white-bg {
	background-color: #fff;
	border: 2px solid #fff;
	color: #c41230;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a.white-bg:hover {
	background-color: #000;
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a.white-brdr {
	border: 2px solid #fff;
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a.white-brdr:hover {
	background-color: #000;
	color: #fff;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.home-main-content .text-block {
	font-family: 'Poppins', sans-serif;
	margin: 0 0 20px 0;
}

.home-main-content img {
	display: block;
	width: 100%;
}

.home-main-content h1 {
	text-transform: uppercase;
}

.home-main-content a.btn {
	display: inline-block;
	font-size: 18px;
	padding: 5px 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.home-main-content a.btn:after {
	content: '>';
	position: relative;
	right: -5px;
}

.stat {
	margin: 0 0 10px 0;
}

.stat.flexxed {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.stat .br-text {
	color: #b00c2a;
	display: inline-block;
	font-size: 42px;
	font-weight: 900;
}

.stat .stats-text {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 0 10px;
}

.company-video {
	background-size: cover;
	color: #fff;
}

.company-video h2 {
	color: $lightest;
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
}

.company-video img {
	width: 100px;
}

.callouts {
	background-color: #e1e1e1;
}

.callouts h2 {
	color: #58595b;
	text-align: center;
	text-transform: uppercase;
}

.callout-item {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
			flex-direction: row;
	margin: 0 0 25px 0;
}

.callout-item h4 {
	font-size: 15px;
	margin: 0;
	text-transform: uppercase;
}

.callout-text span {
	font-size: 14px;
}

.callout-icon {
	margin: 0 10px 0 0;
}

// PORTFOLIO PAGES
.p-hero-image {
	text-align: center;
}

.client-samples {

	.portfolio {
		overflow: hidden;

		img {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-o-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
			-webkit-transition: -webkit-transform .4s ease-in-out;
			-ms-transition: -ms-transform .4s ease-in-out;
			transition: transform .4s ease-in-out;
		}

		&:hover img {
			-moz-transform: scale(1.25);
			-webkit-transform: scale(1.25);
			-o-transform: scale(1.25);
			-ms-transform: scale(1.25);
			transform: scale(1.25);
			-webkit-transition: -webkit-transform .4s ease-in-out;
			-ms-transition: -ms-transform .4s ease-in-out;
			transition: transform .4s ease-in-out;
		}
	}

	.more-work {
		display: inline-block;
		background-color: $ltgray;
		font-size: 17px;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		&:hover {
			background-color: $accent;
			color: $lightest;
		}
	}
}

.portfolios-tab-list {
	text-align: center;

	.filters {
		margin: 10px 0 20px;
		list-style: none;

		li {
			display: block;
			font-size: 18px;
			
			span {
				background-color: #d7d7d7;
				color: #666;
				cursor: pointer;
				display: inline-block;
				line-height: 1.65em;
				margin: 0 0 10px;
				padding: 5px 20px;
				text-decoration: none;
				width: 100%;

				&.active {
					background-color: $accent !important;
					color: $lightest;
				}
			}
		}
	}
}

.portfoliolist li {
	overflow: hidden;

	img {
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		-webkit-transition: -webkit-transform .4s ease-in-out;
		-ms-transition: -ms-transform .4s ease-in-out;
		transition: transform .4s ease-in-out;
	}

	&:hover img {
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		-o-transform: scale(1.25);
		-ms-transform: scale(1.25);
		transform: scale(1.25);
		-webkit-transition: -webkit-transform .4s ease-in-out;
		-ms-transition: -ms-transform .4s ease-in-out;
		transition: transform .4s ease-in-out;
	}
}

// .portfoliolist {
// 	z-index: -1;
// }

.side-list {
	margin: 0 auto;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
	}
}

// RESOURCES PAGE
a.resources-item {

	img {
		opacity: 1;

		&:hover {
			opacity: 0.75;
		}
	}
}

.resources-item {
	margin: 0 0 25px 0;
	text-align: center;

	h2 {
		color: $accent;
		font-size: 20px;
		font-weight: 500;
		margin: 5px 0 0 0;
	}

	img {
		-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1);
		box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1);
	}

	&.video {
	
		iframe, embed, object {
			-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1);
			box-shadow: 1px 1px 5px 2px rgba(0,0,0,.1);
			height: 177px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.pagination-links {
	border-bottom: 1px solid $accent;
	border-top: 1px solid $accent;
	display: block;
	overflow: hidden;

	.next-link {
		float: right;
	}

	a {
		text-transform: uppercase;
	}
}

// TEAM PAGES
.team-info {
	margin: 0 0 15px 0;
}

.team-image {
	border-bottom: 5px solid $accent;
	display: inline-block;
	margin: 0 0 15px 0;

	img {
		display: block;
	}
}

.team-quote {
	font-weight: 500;
	font-size: 18px;
	font-style: italic;
	margin: 0 0 15px 0;
}

.team-links {

	a {
		background-color: $accent;
		color: $lightest;
		float: left;
		height: 45px;
		margin: 0 10px 0 0;
		position: relative;
		text-align: center;
		@include transmed();
		width: 45px;

		&:hover {
			background-color: $darkest;
			color: $dkgray;
			@include transmed();
		}

		i {
			font-size: 20px;
			left: 0;
			margin-left: 0;
			margin-right: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY( -50% );
		}
	}
}

.team-bio {

	.page-title {
		text-align: center;
	}
}

.team-title {
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.teammembers {

	&.flexxed {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.team-block {
	margin: 0 0 15px 0;
	max-width: 418px;
	position: relative;

	img {
		display: block;
	}

	.tb-overlay {
		background-color: rgba(0,0,0,0.15);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		@include transmed();
		width: 100%;
		z-index: 5;
	}

	.team-block-info {
		background-color: rgba(0,0,0,0.5);
		bottom: 25px;
		height: 75px;
		left: 0;
		padding: 10px 0;
		position: absolute;
		text-align: center;
		@include transmed();
		width: 100%;
		z-index: 10;
	}

	.team-block-name {
		color: $lightest;
		font-size: 20px;
		font-weight: 600;
	}

	.team-block-title {
		color: #f40404;
		font-size: 14px;
		font-weight: 600;
	}

	&:hover > .tb-overlay {
		background-color: rgba(0,0,0,0);
		@include transmed();
	}

	&:hover > .team-block-info {
		bottom: 0;
		@include transmed();
	}
}

// WHAT WE DO TEMPLATE
.boast-btn {
	display: block;
	font-weight: 700;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&:last-of-type {
		margin: 0;
	}
}

a.boast-btn {

	&.red-bg {
		border: 2px solid #c41230;
		padding: 10px;
	}
}

a.red-brdr {
	border: 2px solid #c41230;
	padding: 10px;
}

.boast-selectors {
	margin: 0 0 20px 0;
}

.boast-selector-target {
	height: 100px;
	opacity: .25;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

	h3 {
		color: #fff;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translateY( -50% )
	}

	img {
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY( -50% )
	}

	&.active {
		opacity: 1;
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
	}
}

h3.boast-selector-title {
	display: none;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}

.boast-content {
	display: none;
	height: auto;

	.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	h2 {
		font-weight: 500;
	}

	&.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	li {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5em;
		list-style-type: none;
		margin: 0 0 10px 0;
		position: relative;

		&::before {
			color: #b00c2a;
			content: '\f054';
			display: block;
			font-family: 'FontAwesome';
			font-size: 18px;
			height: 20px;
			left: -20px;
			position: absolute;
		
			width: 20px;
		}
	}
}

.boast-text-content {
	margin: 0 0 20px 0;
}

.steps {
	background-position: center center;
	background-size: cover;

	h3 {
		color: #ffffff;
		text-align: center;
	}
}

.steps-wrapper.flexxed {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.step-item {
	color: #ffffff;
	font-size: 16px;
	margin: 20px 0 0 0;
	text-align: center;
	width: 48%;

	.step-icon {
		margin: 0 0 10px 0;
	}

	.step-title {
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
}

.affiliates h3 {
	text-align: center;
}

.aff-logos {

	img {
		height: 100%;
		margin: 10px 0 0 0;
		width: 48%;
	}

	&.flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}
}

// BLOG PAGE
.post-block {
	box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
    margin: 0 15px 45px !important;
}

.post-wrapper {
	padding: 20px;
	
	h3 {
		font-size: 23px;
	}
}

.blog-post-meta {
	font-size: 12px;
}

.view-article {
	display: inline-block;
    clear: both;
    margin: 1em 0;
    text-decoration: none;
    padding: .75em .5em;
    width: auto;
    background: #c41230;
}

a.view-article {
	color: $lightest;
}

ul.recent-posts-da {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.view-article span {
    vertical-align: middle;
}

.recent-posts-da li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.recent-posts-da>li {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin: 0 0 15px;
    padding: 0 0 10px;
}

.recent-posts-da .rp-image {
    width: 30%;
}

.recent-posts-da .rp-content {
    font-size: 15px;
    text-align: left;
    width: 65%;
}

.recent-posts-da .rp-meta {
    font-size: 12px;
    margin: 0 0 7px;
}

.recent-posts-da .rp-meta a {
    color: rgba(0,0,0,.5);
}

.recent-posts-da .rp-title a {
	color: $accent;
}

// SINGLE BLOG PAGE
.post-featured-image {
	margin: 0 0 25px 0;
}

.nav-links {
	background-color: $ltgray;
	font-weight: 600;
	padding: 10px;
	margin: 15px 0;
	text-transform: uppercase;

	.nav-previous,
	.nav-next {
		position: relative;
	}

	.nav-previous {
		margin: 0 0 15px;
		padding: 0 0 0 15px;
		text-align: left;

		&::before {
			color: $accent;
			content: '\f053';
			font-family: $fa;
			left: 0;
			position: absolute;
		}
	}
	
	.nav-next {
		padding: 0 15px 0 0;
		text-align: right;

		&::before {
			color: $accent;
			content: '\f054';
			font-family: $fa;
			position: absolute;
			right: 0;
		}
	}
}

.blog-sidebar {

	.search-form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		        justify-content: space-between;

		> label {
			width: 65%;

			input {
				border: 1px solid;
				width: 100%;
			}
		}

		> input[type=submit] {
			background-color: $darkest;
			color: $lightest;
			width: 32%;
		}
	}
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}