@media only screen and ( min-width: 480px ) {

    // ALL PAGE STYLES
    .page-banner {
        height: 100px;
    }

    // PORTFOLIO PAGES
    .portfoliolist {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }

        .portfolio {
            width: 50%;
        }
    }
}

@media only screen and ( min-width: 568px ) {

    // CLASSES
    .p30 {
        padding: 15px 0;
    }

    .p45 {
        padding: 22.5px 0;
    }

    .p60 {
        padding: 30px 0;
    }

    // ALL PAGE STYLES
    .page-banner {
        height: 125px;
    }

    // PORTFOLIO PAGES
    .client-samples {

        .flexxed {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .portfolio {
            width: 50%;
        }

        .more-work {
            font-size: 19px;
        }
    }
}

@media only screen and ( min-width: 640px ) {

    // TEAM PAGES
    .teammembers {

        &.flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
        }
    }

    .team-block {
        width: 48.5%;
    }

    // FOOTER
    .top-footer {

        .menu {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }

        li {
            width: 48%;
        }
    }
}

@media only screen and ( min-width: 768px ) {

    // CLASSES
    .p30 {
        padding: 20px 0;
    }

    .p45 {
        padding: 30px 0;
    }

    .p60 {
        padding: 40px 0;
    }

    // MODULES
    .quick-links {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    a.quick-link {
        margin: 0;
        width: 31.5%;
    }

    .tab-links {
        margin: 0 0 20px 0;

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        a.link {
            margin: 0;
            padding: 90px 30px 70px;
            position: relative;

            &.count-3 {
                width: 31%;
            }

            &.count-4 {
                width: 24%;
            }

            &.count-5 {
                width: 19%;
            }

            &::after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 25px 0 25px;
                border-color: #c4122f transparent transparent transparent;
                bottom: 0;
                left: 40%;
                position: absolute;
                @include transfast();
            }

            &.active {

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 25px 0 25px;
                    border-color: #c4122f transparent transparent transparent;
                    bottom: -25px;
                    left: 40%;
                    position: absolute;
                    @include transfast();
                }
            }
        }
    }

    .client-samples {

        .more-work {
            font-size: 21px;
        }
    }

    // ALL PAGE STYLES
    .page-banner {
        height: 150px;
    }

    .page-intro {
        margin: 0 0 35px 0;
    }
    
    // PORTFOLIO PAGES
    .portfolios-tab-list {

        .filters {

            li {
                display: inline-block;
            }
        }
    }

    .portfoliolist {

        .portfolio {
            width: 33%;
        }
    }

    // TEAM PAGES
    .team-page {

        &.flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .team-info {
        width: 24%;
    }

    .team-bio {
        width: 72.5%;

        .page-title {
            text-align: left;
        }
    }

    .team-title {
        text-align: left;
    }

    // FOOTER
    .top-footer {

        &.p30 {
            padding: 20px 0 10px 0;
        }
    }

    .bottom-footer {

        .flexxed {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .half {
            width: 48%;
        }

        .bf-right {
            text-align: right;

            .fax {
                float: right;
                margin: 0 0 0 10px;
                position: relative;

                &:before {
                    content: ' | ';
                    left: -3px;
                    position: relative;
                }
            }
        }
    }
}

@media only screen and ( min-width: 900px ) {

    // TEAM PAGES
    .team-block {
        width: 32%;
    }
} 

@media only screen and ( min-width: 960px ) {

    // CLASSES

    // MODULES
    a.quick-link {
        width: 30%;
    }

    .tab-links {

        a.link {
            padding: 100px 30px 80px;
        }
    }
    
    .client-samples {

        .portfolio {
            width: 25%;
        }
    }

    // ALL PAGE STYLES
    .page-banner {
        height: 175px;
    }

    //  PORTFOLIO PAGES
    .portfolios-tab-list {

        .filters {

            li {
                position: relative;

                span {

                    &::after {
                        border-style: solid;
                        border-width: 15px 15px 0;
                        border-color: #d7d7d7 transparent transparent;
                        bottom: -5px;
                        content: '';
                        display: block;
                        height: 0;
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        width: 0;
                    }

                    &.active {

                        &::after {
                            border-color: $accent transparent transparent;
                        }
                    }
                }
            }
        }
    }

    // FOOTER
    .top-footer {

        li {
            width: 32%;
        }
    }

    .bottom-footer {

        .social-media {
            margin: 0 0 5px 0;
        }

        .legal-info {
            text-align: left;
        }
    }
}

@media only screen and ( min-width: 1024px ) {

    // CLASSES
    .p30 {
        padding: 30px 0;
    }

    .p45 {
        padding: 45px 0;
    }

    .p60 {
        padding: 60px 0;
    }

    .top-footer {

        &.p30 {
            padding: 30px 0 20px 0;
        }
    }

    // PORTFOLIO PAGES
    .portfoliolist {

        .portfolio {
            width: 25%;
        }
    }

    // TEAM PAGES
    .team-block {
        width: 31%;
    }
}

@media only screen and ( min-width: 1200px ) {

    // MODULES
    .client-samples {

        .more-work {
            font-size: 23px;
        }
    }

    // ALL PAGE STYLES
    .page-banner {
        height: 200px;
    }
}