/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $accent;
	text-decoration: none;
	@include transmed();
}

a:visited {
	color: $accent;
}

a:hover, a:focus, a:active {
	color: $dkgray;
	@include transmed();
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	@include transmed();
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	background-color: rgba( 0, 0, 0, 0.8 );
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	.constrain {
		position: relative;
	}
}

.menu-main-menu-container {
	left: 50%;
	margin: 0 auto;
	position: absolute;
	top: 75px;
	transform: translateX( -50% );
	width: 260px;

	li {

		a {
			color: $lightest;
			font-size: 30px;
			font-weight: 600;
			line-height: 1.75;
			text-transform: uppercase;

			&:hover {
				color: $accent;
			}
		}
	}

	.sub-menu {
		display: none;
		margin: 0 0 0 10px;
		
		li {
			margin: 0 0 10px 0;

			a {
				font-size: 17px;
				line-height: 1.25;
			}
		}
	}
}

.close-menu {
	cursor: pointer;
	font-family: 'delia_icons' !important;
	position: absolute;
	right: 10px;
	top: 10px;

	&::before {
		content: "\e907";
		color: $lightest;
		font-size: 40px;
	}
}


// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;
// }

// .main-navigation ul {
// 	display: none;
// 	list-style: none;
// 	margin: 0;
// 	padding-left: 0;
// }

// .main-navigation ul ul {
// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 	float: left;
// 	position: absolute;
// 	top: 100%;
// 	left: -999em;
// 	z-index: 99999;
// }

// .main-navigation ul ul ul {
// 	left: -999em;
// 	top: 0;
// }

// .main-navigation ul ul li:hover > ul,
// .main-navigation ul ul li.focus > ul {
// 	left: 100%;
// }

// .main-navigation ul ul a {
// 	width: 200px;
// }

// .main-navigation ul li:hover > ul,
// .main-navigation ul li.focus > ul {
// 	left: auto;
// }

// .main-navigation li {
// 	float: left;
// 	position: relative;
// }

// .main-navigation a {
// 	display: block;
// 	text-decoration: none;
// }


// .site-main .comment-navigation, .site-main
// .posts-navigation, .site-main
// .post-navigation {
// 	margin: 0 0 1.5em;
// 	overflow: hidden;
// }

// .comment-navigation .nav-previous,
// .posts-navigation .nav-previous,
// .post-navigation .nav-previous {
// 	float: left;
// 	width: 50%;
// }

// .comment-navigation .nav-next,
// .posts-navigation .nav-next,
// .post-navigation .nav-next {
// 	float: right;
// 	text-align: right;
// 	width: 50%;
// }