/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $font-color;
	font-family: $body;
	font-size: 16px;
	letter-spacing: .25px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $font-color;
	line-height: 1.35;
	margin: 0 0 15px 0;
	font-family: $spec;

	a {
		color: $font-color;

		&:visited {
			color: $font-color;
		}

		&:hover {
			color: $dkgray;
		}
	}
}

p {
	margin: 0 0 15px 0;

	&:last-of-type {
		margin: 0;
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

@font-face {
	font-family: 'Font-Name';
	src: url(fonts/font-name.eot);
	src: url(fonts/font-name.eot?#iefix) format("embedded-opentype"),url(fonts/font-name.woff) format("woff"),url(fonts/font-name.ttf) format("truetype"),url(fonts/font-name.svg#font-name) format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'delia_icons';
	src: url(fonts/delia_icons.eot?677woo);
	src: url(fonts/delia_icons.eot?677woo#iefix) format("embedded-opentype"),url(fonts/delia_icons.ttf?677woo) format("truetype"),url(fonts/delia_icons.woff?677woo) format("woff"),url(fonts/delia_icons.svg?677woo#delia_icons) format("svg");
	font-weight: 400;
	font-style: normal;
}