// ---------------------------------------------------
//    Colors
// ---------------------------------------------------


$lightest: #FFFFFF;
$darkest: #231f20;
$accent: #af0b2a;
$ltgray: #eceff1;
$mdgray: #d7d7d7;
$dkgray: #898989;
$hover: #cc0000;

// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------


@mixin lshadow() {
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.07);
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.07);   
}

@mixin mshadow() {
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.25);
}


// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Raleway:400,700,900');

$font-color: #444;
$body: 'Poppins', sans-serif;
$spec: 'Raleway', sans-serif;
$fa: 'fontAwesome', sans-serif;
$fa5: 'Font Awesome\ 5 Free', sans-serif;


// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------


@mixin transfast() {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;   
}

@mixin transmed() {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

@mixin translow() {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}